body{
    font-family: 'Varela Round', sans-serif;
}
.text-orange{
    color: #e67d23;
}
.text-blue{
    color:#005CA9;
}




header{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#005ca9+0,009fe3+100 */
    background: #005ca9; /* Old browsers */
    background: -moz-linear-gradient(left, #005ca9 0%, #009fe3 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #005ca9 0%,#009fe3 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #005ca9 0%,#009fe3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#005ca9', endColorstr='#009fe3',GradientType=1 ); /* IE6-9 */
    padding-bottom: 0.6rem;
    padding-top: 1rem;
}
header .members{
    padding: 15px 0px;
}
header .members a{
    color: white;
}
header .logos .logo1{
    /*max-width: 264px;*/
    max-width: 224px;
}
header .logos .logo2{
    max-width: 394px;
}
header a{
    color: white;
}
header .dropdown button,header .dropdown button:hover,header .dropdown button:active,
header .dropdown button:focus,header .show>.btn-secondary.dropdown-toggle,
header .btn-secondary:not(:disabled):not(.disabled).active,header .btn-secondary:not(:disabled):not(.disabled):active, header .show>.btn-secondary.dropdown-toggle{
    background: transparent;
    border: none;
    width:100%;
    box-shadow: none !important;
}
header .locator{
    border-bottom: solid 1px white;
}
header .locator .point{
    width: 28px;
    height: 28px;
    border: solid 1px #009fe3;
    border-radius: 14px;
    position: relative;
    top: 14px;
}
header .locator .point span{
    width: 12px;
    height: 12px;
    background: white;
    border-radius: 6px;
    display: inline-block;
    position: absolute;
    top: 7px;
    left: 7px;
}
header .right-content{
    width: 250px;
    position: relative;
}

header .form-control{
    border-radius: 0px 18px 0px 18px;
    padding: 0px 1.5rem;
    line-height: .9em;
    height: 2rem;
}
header .right-content::after{
    position: absolute;
    right: 5px;
    top: 0.5rem;
    content: ' ';
    width: 22px;
    height: 1.2rem;
    background: url(../img/icons/icono_buscar.svg) no-repeat;
}
header .form-control::placeholder{
    color: lightgray;
}
header .navbar-collapse{
    justify-content: space-between;
}
header #navbarCollapse>div:first-child{
    flex-grow: 1;
}
header #navbarCollapse .navbar-nav{
    flex-basis: 0;
    flex-grow: 1;
    justify-content: space-between;
}
header #navbarCollapse .navbar-nav a:hover{
    color: white;
}








footer{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#009fe3+0,005ca9+100 */
    background: #009fe3; /* Old browsers */
    background: -moz-linear-gradient(top, #009fe3 0%, #005ca9 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #009fe3 0%,#005ca9 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #009fe3 0%,#005ca9 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#009fe3', endColorstr='#005ca9',GradientType=0 ); /* IE6-9 */
    padding-top: 1.8em;
    padding-bottom: 1.4em;
}
footer img{
    max-width: 205px;
}
footer p{
    margin: 2px 0px;
    line-height: 1rem;
}
footer,footer p a{
    color: white;
    font-size: 0.8rem;
}








.breadcrumb{
    background-color: white;
    margin-bottom: 0rem;
}
.breadcrumb ul{
    list-style: none;
    margin-left: 0;
    padding-left: 0;
    margin-bottom: 0;
}
.breadcrumb li{
    display: inline-block;
    margin-left: 5px;
}
.breadcrumb li:not(:last-child):after {
    content: "/";
    position: relative;
    left: 3px;
    color: #005CA9;
}
.breadcrumb a{
    color: #005CA9;
}


#homeSlider .carousel-inner{
    position: relative;
    z-index: 2;
}
#homeSlider .carousel-indicators{
    position: relative;
    width: 100%;
    justify-content: space-between;
    list-style: none;
    top: -15px;
    padding-left: 0px;
    width: 95%;
    margin: 0 auto;
    z-index: 0;
}
#homeSlider .carousel-indicators>li{
    width: 22%;
    height: auto;
    border: solid 1px lightgray;
    box-shadow: 0px 2px 3px lightgray;
    border-radius: 15px;
    padding: 30px 15px 20px 15px;
    color: #005CA9;
    text-indent: 0;
    opacity: 1;
}
#homeSlider .carousel-indicators>li.active{
    color: white;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#005ca9+0,009fe3+100 */
    background: #005ca9; /* Old browsers */
    background: -moz-linear-gradient(left, #005ca9 0%, #009fe3 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #005ca9 0%,#009fe3 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #005ca9 0%,#009fe3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#005ca9', endColorstr='#009fe3',GradientType=1 ); /* IE6-9 */
}
#homeSlider .carousel-indicators .logo{
    width: 40%;
    height: 70px;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: contain;
    vertical-align: middle;
}
#homeSlider .carousel-indicators .logo_rest{
    background-image: url(../img/icons/dot_rest_blue.svg);
}
#homeSlider .carousel-indicators .active .logo_rest{
    background-image: url(../img/icons/dot_rest_white.svg);
}
#homeSlider .carousel-indicators .logo_carne{
    background-image: url(../img/icons/dot_carne_blue.svg);
}
#homeSlider .carousel-indicators .active .logo_carne{
    background-image: url(../img/icons/dot_carne_white.svg);
}
#homeSlider .carousel-indicators .logo_drog{
    background-image: url(../img/icons/dot_drog_blue.svg);
}
#homeSlider .carousel-indicators .active .logo_drog{
    background-image: url(../img/icons/dot_drog_white.svg);
}
#homeSlider .carousel-indicators .logo_salon{
    background-image: url(../img/icons/dot_salon_blue.svg);
}
#homeSlider .carousel-indicators .active .logo_salon{
    background-image: url(../img/icons/dot_salon_white.svg);
}
#homeSlider .carousel-indicators .text{
    width: 55%;
    display: inline-block;
    text-align: right;
    font-size: 1.2rem;
}
.btn.yellow{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e67d23+0,fbb83b+100 */
    background: #e67d23; /* Old browsers */
    background: -moz-linear-gradient(left, #e67d23 0%, #fbb83b 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #e67d23 0%,#fbb83b 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #e67d23 0%,#fbb83b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e67d23', endColorstr='#fbb83b',GradientType=1 ); /* IE6-9 */
    color: white;
    
    border: none;
    border-radius: 3px;
}
#homeSlider .btn{
    z-index: 20;
    padding: 0 15px;
}


.row.block{
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    box-shadow: 0px 2px 10px lightgray;
    border-radius: 0px 20px 0px 20px;
    padding: 30px 30px;
}
.row.block.right{
    box-shadow: 2px 2px 10px lightgray;
}
.row.block .btn.yellow{
    padding: 10px 30px;
}
.subtitle{
    color: #3D5DA6;
    font-size: 1.8rem;
    padding-bottom: 2rem;
    line-height: 1.9rem;
    width: 80%;
    font-weight: 500;
    position: relative;
    margin-bottom: 0.5rem;
}
.subtitle::after{
    content: ' ';
    position: absolute;
    bottom: 0.5rem;
    left: 0px;
    width: 150px;
    height: 0.9rem;
    border-radius: 0.45rem;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e67d23+0,fbb83b+100 */
    background: #e67d23; /* Old browsers */
    background: -moz-linear-gradient(left, #e67d23 0%, #fbb83b 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #e67d23 0%,#fbb83b 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #e67d23 0%,#fbb83b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e67d23', endColorstr='#fbb83b',GradientType=1 ); /* IE6-9 */
}
.block .paragraph{
    width: 90%;
}




.container.enlaces{
    margin-top: 45px;
    margin-bottom: 30px;
    border-top: solid #fbb83b 1px;
    padding-top: 15px;
}
.enlaces .title{
    color: #005CA9;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}
.enlaces ul{
    list-style: none;
    padding-left: 15px;
}
.enlaces ul li{
    color: #009FE3;
    line-height: 1.2rem;
    font-size: 0.9rem;
    text-decoration: underline;
    font-weight: 500;
}

ul.tips{
    list-style: none;
    padding-left: 0;
    margin-top: 2rem;
}
ul.tips li{
    margin-bottom: 15px;
}
ul.tips li>img{
    width: 60px;
    margin-right: 29px;
    display: inline-block;
    vertical-align: top;
}
ul.tips li>p{
    display: inline-block;
    width: calc(100% - 100px);
}

.faqs{
    padding-right: 30px;
    height: 480px;
    overflow: auto;
}
.faq_wrapper{
}
.faqs .nicescroll-cursors {
    border: none !important;
    background-color: #aaa !important;
    border-radius: 4px !important;
}
.faqs .nicescroll-rails{
    background-color: #ccc;
    border-radius: 4px;
    padding: 0;
    margin: 0;
    width: 6px !important;
}
.faqs .btn-link{
    padding-left: 40px;
    position: relative;
    text-align: left;
    min-height: 3rem;
}
.faqs .btn-link::before{
    font-family: "Font Awesome 5 Free";
    content: '\f054';
    font-weight: 900;
    position: absolute;
    left: 0px;
    top: 15%;
    font-size: 2rem;
    color: #e67d23;
}

.faqs .card{
    margin-bottom: 1rem;
    box-shadow: 0px 2px 10px lightgray;
    border-radius: 0px 20px 0px 20px;
    padding: 5px 15px;
}
.faqs .card-header{
    border-bottom: none;
    background: transparent;
    text-align: left;
}
/*.card-header .btn[aria-expanded=true] {
color: #fff;
background-color: #32bdb6;
}*/
.faqs .card.active-acc{
    background-color: #005CA9;
    color: white;
}
.faqs .card.active-acc .btn-link{
    color: white;
    text-decoration: none;
}
.faqs .card.active-acc .btn-link::before{
    content: '\f078';
}
.faqs .card .card-body a{
    font-weight: 800;
    color: #e67d23;
    text-decoration: underline;
}
.faqs .form-buscar{
    margin-bottom: 1rem;
}
.faqs .form-buscar::after{
    position: absolute;
    right: 5px;
    top: 0.5rem;
    content: ' ';
    width: 20px;
    height: 1.1rem;
    background: url(../img/icons/icono_buscar.svg) no-repeat;
}
.faqs .form-buscar input{
    border-radius: 5px;
    padding: 0px 30px;
}
.faqs .form-buscar input::placeholder{
    color: lightgray;
}






.gray-block{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,e6e6e6+100 */
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(left, #ffffff 0%, #e6e6e6 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #ffffff 0%,#e6e6e6 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #ffffff 0%,#e6e6e6 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e6e6e6',GradientType=1 ); /* IE6-9 */
    margin-top: 2rem;
    padding: 30px 0px;
}

.newsletter>.col-md-7>img{
    max-width: 150px;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.newsletter h3{
    line-height: 1.8rem;
}
.newsletter select{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,bfbfbf+100 */
    background: #ffffff; /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover, #ffffff 0%, #bfbfbf 100%); /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover, #ffffff 0%,#bfbfbf 100%); /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center, #ffffff 0%,#bfbfbf 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#bfbfbf',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    width: 100%;
    padding: 10px 15px;
    border-radius: 5px;
}
.newsletter .input-group{
    margin-bottom: 1.5rem;
}
.newsletter .input-group .input-group-prepend{
    height: 3rem;
    border-radius: 5px 0px 0px 5px;
    width: 40px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ddd;
    color: #6b6b6b;
}
.newsletter .input-group .form-control{
    height: 3rem;
    border-radius: 0px 5px 5px 0px;
}
.newsletter .input-group.conditions input{
    width: 20px;
    height: 30px;
    margin-right: 15px;
     /* outline: 2px groove #fbb83b; */
}
.newsletter .input-group.conditions input:checked{
    background: gray;
}
.newsletter .input-group.conditions p{
    width: calc(100% - 45px);
}

.twitter-feed{
    height: 515px;
}