body{
    font-family: 'Varela Round', sans-serif;
}




header{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#005ca9+0,009fe3+100 */
    background: #005ca9; /* Old browsers */
    background: -moz-linear-gradient(left, #005ca9 0%, #009fe3 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #005ca9 0%,#009fe3 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #005ca9 0%,#009fe3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#005ca9', endColorstr='#009fe3',GradientType=1 ); /* IE6-9 */
    padding-bottom: 0.6rem;
    padding-top: 1rem;
}
header .members a{
    color: white;
}
header .logos .logo1{
    max-width: 224px;
}
header .logos .logo2{
    max-width: 394px;
}
header a{
    color: white;
}
header .dropdown button,header .dropdown button:hover,header .dropdown button:active,
header .dropdown button:focus,header .show>.btn-secondary.dropdown-toggle,
header .btn-secondary:not(:disabled):not(.disabled).active,header .btn-secondary:not(:disabled):not(.disabled):active, header .show>.btn-secondary.dropdown-toggle{
    background: transparent;
    border: none;
    width:100%;
    box-shadow: none !important;
}
header .locator{
    border-bottom: solid 1px white;
}
header .locator .point{
    width: 28px;
    height: 28px;
    border: solid 1px #009fe3;
    border-radius: 14px;
    position: relative;
    top: 14px;
}
header .locator .point span{
    width: 12px;
    height: 12px;
    background: white;
    border-radius: 6px;
    display: inline-block;
    position: absolute;
    top: 7px;
    left: 7px;
}
header .right-content{
    width: 250px;
    position: relative;
}

header .form-control{
    border-radius: 0px 18px 0px 18px;
    padding: 0px 1.5rem;
    line-height: .9em;
    height: 2rem;
}
header .right-content::after{
    position: absolute;
    right: 0px;
    top: 0.5rem;
    content: ' ';
    width: 22px;
    height: 1.2rem;
    background: url(../img/icons/icono_buscar.svg);
}
header .form-control::placeholder{
    color: lightgray;
}
header .navbar-collapse{
    justify-content: space-between;
}
header #navbarCollapse>div:first-child{
    flex-grow: 1;
}
header #navbarCollapse .navbar-nav{
    flex-basis: 0;
    flex-grow: 1;
    justify-content: space-between;
}
header #navbarCollapse .navbar-nav a:hover{
    color: white;
}








footer{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#009fe3+0,005ca9+100 */
    background: #009fe3; /* Old browsers */
    background: -moz-linear-gradient(top, #009fe3 0%, #005ca9 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #009fe3 0%,#005ca9 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #009fe3 0%,#005ca9 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#009fe3', endColorstr='#005ca9',GradientType=0 ); /* IE6-9 */
    padding-top: 1.8em;
    padding-bottom: 1.4em;
}
footer img{
    max-width: 205px;
}
footer p{
    margin: 2px 0px;
    line-height: 1rem;
}
footer,footer p a{
    color: white;
    font-size: 0.8rem;
}








.breadcrumb{
    background-color: white;
    margin-bottom: 0rem;
}
.breadcrumb ul{
    list-style: none;
    margin-left: 0;
    padding-left: 0;
    margin-bottom: 0;
}
.breadcrumb li{
    display: inline-block;
    margin-left: 5px;
}
.breadcrumb li:not(:last-child):after {
    content: "/";
    position: relative;
    left: 3px;
    color: #005CA9;
}
.breadcrumb a{
    color: #005CA9;
}


#homeSlider .carousel-inner{
    position: relative;
    z-index: 2;
}
#homeSlider .carousel-indicators{
    position: relative;
    width: 100%;
    justify-content: space-between;
    list-style: none;
    top: -15px;
    padding-left: 0px;
    width: 95%;
    margin: 0 auto;
    z-index: 0;
}
#homeSlider .carousel-indicators>li{
    width: 22%;
    height: auto;
    border: solid 1px lightgray;
    box-shadow: 0px 2px 3px lightgray;
    border-radius: 15px;
    padding: 30px 15px 20px 15px;
    color: #005CA9;
    text-indent: 0;
    opacity: 1;
}
#homeSlider .carousel-indicators>li.active{
    color: white;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#005ca9+0,009fe3+100 */
    background: #005ca9; /* Old browsers */
    background: -moz-linear-gradient(left, #005ca9 0%, #009fe3 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #005ca9 0%,#009fe3 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #005ca9 0%,#009fe3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#005ca9', endColorstr='#009fe3',GradientType=1 ); /* IE6-9 */
}
#homeSlider .carousel-indicators .logo{
    width: 40%;
    height: 70px;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: contain;
    vertical-align: middle;
}
#homeSlider .carousel-indicators .logo_rest{
    background-image: url(../img/icons/dot_rest_blue.svg);
}
#homeSlider .carousel-indicators .active .logo_rest{
    background-image: url(../img/icons/dot_rest_white.svg);
}
#homeSlider .carousel-indicators .logo_carne{
    background-image: url(../img/icons/dot_carne_blue.svg);
}
#homeSlider .carousel-indicators .active .logo_carne{
    background-image: url(../img/icons/dot_carne_white.svg);
}
#homeSlider .carousel-indicators .logo_drog{
    background-image: url(../img/icons/dot_drog_blue.svg);
}
#homeSlider .carousel-indicators .active .logo_drog{
    background-image: url(../img/icons/dot_drog_white.svg);
}
#homeSlider .carousel-indicators .logo_salon{
    background-image: url(../img/icons/dot_salon_blue.svg);
}
#homeSlider .carousel-indicators .active .logo_salon{
    background-image: url(../img/icons/dot_salon_white.svg);
}
#homeSlider .carousel-indicators .text{
    width: 55%;
    display: inline-block;
    text-align: right;
    font-size: 1.2rem;
}
.btn.yellow{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e67d23+0,fbb83b+100 */
    background: #e67d23; /* Old browsers */
    background: -moz-linear-gradient(left, #e67d23 0%, #fbb83b 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #e67d23 0%,#fbb83b 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #e67d23 0%,#fbb83b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e67d23', endColorstr='#fbb83b',GradientType=1 ); /* IE6-9 */
    color: white;
    
    border: none;
    border-radius: 3px;
}
#homeSlider .btn{
    z-index: 20;
    padding: 0 15px;
}


.row.block{
    margin-top: 2.5rem;
    margin-bottom: 1rem;
    box-shadow: 0px 2px 10px lightgray;
    border-radius: 0px 20px 0px 20px;
    padding: 30px 30px;
}
.row.block.right{
    box-shadow: 2px 2px 10px lightgray;
}
.row.block .btn.yellow{
    padding: 10px 30px;
}
.subtitle{
    color: #3D5DA6;
    font-size: 1.8rem;
    padding-bottom: 2rem;
    line-height: 1.9rem;
    width: 80%;
    font-weight: 500;
    position: relative;
    margin-bottom: 0.5rem;
}
.subtitle::after{
    content: ' ';
    position: absolute;
    bottom: 0.5rem;
    left: 0px;
    width: 150px;
    height: 0.9rem;
    border-radius: 0.45rem;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e67d23+0,fbb83b+100 */
    background: #e67d23; /* Old browsers */
    background: -moz-linear-gradient(left, #e67d23 0%, #fbb83b 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #e67d23 0%,#fbb83b 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #e67d23 0%,#fbb83b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e67d23', endColorstr='#fbb83b',GradientType=1 ); /* IE6-9 */
}
.block .paragraph{
    width: 90%;
}




.container.enlaces{
    margin-top: 45px;
    margin-bottom: 30px;
    border-top: solid #fbb83b 1px;
    padding-top: 15px;
}
.enlaces .title{
    color: #005CA9;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}
.enlaces ul{
    list-style: none;
    padding-left: 15px;
}
.enlaces ul li{
    color: #009FE3;
    line-height: 1.2rem;
    font-size: 0.9rem;
    text-decoration: underline;
    font-weight: 500;
}